.chat {
  display: flex;
  flex-direction: column;

  width: 100%;

  background-color: var(--color-secondary);

  &__header {
    padding: 8px 16px;

    display: flex;
    align-items: center;

    gap: 16px;

    background-color: var(--color-primary);
  }

  &__header-info {
    width: 100%;
  }

  &__header-info-title-subtitle {
    display: flex;
    flex-direction: column;

    gap: 4px;
  }

  &__header-actions {
    display: flex;

    gap: 8px;
  }

  &__content {
    padding: 16px 24px;

    overflow-y: auto;
    height: 100%;
  }

  &__message-list {
    gap: 16px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__message-groups {
    gap: 16px;

    display: flex;
    flex-direction: column;
  }

  &__message-group-date {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__message-item {
    display: flex;

    &--income {
      justify-content: flex-start;
    }

    &--outcome {
      justify-content: flex-end;
    }
  }

  &__footer {
    height: 80px;

    padding: 0px 24px 24px 24px;
  }
}
