// base
*,
*:before,
*:after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

#app {
  height: 100dvh;
  background-color: var(--color-primary);

  display: flex;
}

.cursor-pointer {
  cursor: pointer;
}

.skeleton {
  height: 44px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  &--animated {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -150px;
      height: 100%;
      width: 150px;
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #e8e8e8 50%, rgba(255, 255, 255, 0) 100%);
      animation: load 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    }
  }
}

@keyframes load {
  from {
    left: -150px;
  }

  to {
    left: 100%;
  }
}
